@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root{
    --body-bg: #fefefe;
    --body-color: #000;
    --a-color: #1d946c;
    --top-color: #202024;
}

.night-mode:root{
    --body-bg: #202024;
    --body-color: #fff;
}

body{
    background: var(--body-bg);
    color: var(--body-color);
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
}

main{
    width: 940px;
    margin: 0 auto;
}
main a{
    text-decoration: underline;
    color: var(--a-color);
    font-weight: bold;

}


.top{
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #fff;
    background: var(--top-color);
    font-size: 22px;
}


.night-mode-trigger{
    width: 80px;
    height: 50px;
    background: none;
    border: none;
    color: #fefefe;
    cursor: pointer;
    font-size: 15px;
}

.options{
    display: flex;
}
.options li{
    display: flex;
    margin: 0 10px 0;
    user-select: none;
}
.options a{
    color: #fff;
}